/*header*/
header{
	background: rgb(91,121,137);
	border-radius: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: table-row;
	flex-direction: row;
}
#header h1{
	text-shadow: 2px 2px 3px #02010a;
	color: white;
	width: 50%;
	float: left;
}
#header li{
	float: left;
	padding: 20px;
	list-style: none;
	display: inline;
}
li a{
	text-decoration: none;
	color: white;
	}
#header ul{
	margin-top: -60px;
}
#header li:hover{
	background-color: #586D79;
	color: black ;
	}
/*primera imagen*/
#Contenido {
	margin: 0 auto;
	width: 100%;
}
/*imagenes secundarias*/
#imagen_secundaria{
	width: 100%;
	height: 30px;
	background-color: #d5c75f;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}
.img1 {
	float: left;	
	background-color: #d5c75f;
	
}

.img2 {
	float: right;
	background-color: #d5c75f;
	margin-right: 0 auto;
	
}
figcaption a {
	text-decoration: none;
	color: white;
}
/*animaciones imagen secundarias*/
.img1 img:hover{
	animation: Animacionu 3s infinite;
}
.img2 img:hover{
	animation: AnimacionD 3s infinite;

}
/*animacion header*/
body{
	animation: AnimacionH 3s;
}
header{
	animation: AnimacionH 3s;
}
/*footer*/
#footer	{
	width: 100%:
	height: 200px;
	background-color: #C6d5c5;
	border-radius: 10px;

}
#footer ul{
	display: inline-table;
	padding-left: 60px;
	margin-top: 10px;
}
#footer li{
	list-style: none;
}
/*galeria paisajes*/
#galeriaP {
	margin-top:110px; 
	padding-left: 0;
}
#galeriaP ul{
	margin-left: 0px;
}
#galeriaP li{
	display: inline;
	list-style: none;
	padding: 10px 10px 10px 10px;
}
/*galeria retratos*/
#galeriaR {
	margin-top:110px; 
}
#galeriaR li{
	display: inline;
	list-style: none;
	padding: 10px 10px 10px 10px;
}
#blur{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
#gris{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
#sepia{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}
/*media queries*/
@media (max-width: 420px){
	#header h1{
		width: 100%;
		font-size: 24px;
		margin-top: 90px;
		text-align: center;
	}
	#header ul{
		width: 100%;
	}

	#Contenido{
		width: 100%;
		margin-top: 180px;
	}
	#imagen_secundaria{
		height: 150px;
		display: inline-block;
	}
	#imagen_secundaria img{
		width: 100px;
	}
	.img1 {
		margin: inherit;

	}
	.img2 {
		margin: 0 auto;
		width: 100%;
		float: left;
	}
	#footer ul{
		font-size: 12px;
	}
	#galeriaP{
		margin-top: 170px;
		padding-left: 0;
	}
	#galeriaR{
		margin-top: 170px;
		margin-right: 5px
		 
	}
	#galeriaP li img{
		width: 100%;
		margin: 0 auto;
	}
	#galeriaR li img{
		width: 100%;
	}
	#galeriaR ul{
		padding-left: 0px;
	}
	#galeriaP ul{
		padding-left: 0px;
	}
	}
@media (min-width: 420px){
	#header{
		display: inline;
	}
	#header h1{
		width: 50%;
		float: left;
	}
	#header ul{
		width: 50%;
		float: right;
	}

	#Contenido{
		width: 100%;
		margin-top: 110px;
	}
	#imagen_secundaria{
		height: 330px;

	}
	#footer ul{
		font-size: 16px;
	}
	}