header{
	background: rgb(91,121,137);
	border-radius: 10px;
	width: 100%;
	position:fixed;
	top: 0%;
	left: 0%;

}
#header{
	display: inline;
}
#header h1{
	text-shadow: 2px 2px 3px #02010a;
	color: white;
	width: 50%;
	float: left;
}
#header li{
	float: left;
	padding: 20px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: white;
}



#Central_1{
	background-color: #82c3a6;
	width: 100%;
	margin-top: 80px;
}
#Central_1 img{

	border: 1px solid black;
	margin: auto;
}